
/*!
 * ID_proving.css v1.0.0
 * producer:bayaby
 * Date: 2016-12-02 15:45;
 * Modification personnel：~
 * Modified time：~
 */

body,html{width: 100%;height: 100%;overflow: hidden;position: relative;}
.pwd-theme{width: 100%;height: 100%;background: #f5f5f5;overflow: hidden;}
header{width: 20%;height: auto;margin: 1.5rem auto;}
header img{width: 100%;height: 100%;}
.pwd-container{width: 90%;height: 3rem;border:1px solid #d2d4dc;margin: 2rem auto;border-radius: 4px;background: #fff;overflow: hidden;display: -webkit-box;}
.pwd-number{width: 80%;height: 100%;border: none;outline: none;font-size: 1.4rem;color: #afafaf;display: block;}
.next-btn{display: block;text-align: center;width: 90%;height: 3rem;line-height: 3rem;font-size: 1.4rem;background: #f5595f;color: #fff;position: absolute;bottom: 4rem;left: 50%;margin-left: -45%;}
.eye{width: 20%;height: 100%;background: url(../images/icon/icon_openeye.png) no-repeat center center; background-size: 2rem 1.3rem;display: block;}
.eye-close{background: url(../images/icon/icon_closeeye.png) no-repeat center center; background-size: 2rem 1.3rem;}
.swal2-modal h2{font-size: 1.4rem!important;}




















