@charset "utf-8";
/* 帮助中心首页 */
.wrapper{ width: 1100px; height: auto;}
.helpindex{background: none;}
.helpindex .dhlink{margin-top: 20px;}
.helpindex h2{ font-size: 30px; margin-top: 5px; color: #333;}

.helpcolor:link,.navline span a:link{ color: #333; text-decoration: none;}
.helpcolor:hover,.navline span a:hover{ color: #00beff;}

.hdetail>h2{ color: #00beff; font-size: 18px;}
.hdetail>h2 .hhdh2{ display: none;}
.hdetail .hotque{ border:1px solid #e4e1dc; background:#f6f6f6;}
.hdetail .hotque ul li a{ color: #333;}

.usque .usq_gr{  border:1px solid #e4e1dc; background:#f6f6f6; width:23.3%; margin-right: 2%;}
.usque .usq_ri{ margin-right: 0px;}
.hacser{ border:1px solid #e4e1dc; background:#f6f6f6; padding: 30px 50px; margin-top: 0px;}
.hacser .hac-se span{vertical-align: middle;}
.hacser .hac-se span.usq9,.hacser .hac-se span.usq10{ background-image: url(../../images/index_new/helpPhone.png); width: 64px; height: 64px; }
.usque .usq_gr span{}
.hacser .hac-se span.usq9{background-position: 0 0;}
.hacser .hac-se span.usq10{background-position: 0 -66px;}
.usque .usq_gr .usq11,.usque .usq_gr .usq12,.usque .usq_gr .usq13,.usque .usq_gr .usq14,.usque .usq_gr .usq15,.usque .usq_gr .usq16,.usque .usq_gr .usq18,.usque .usq_gr .usq20,.usque .usq_gr .usq30,.usque .usq_gr .usq31{background-image: url(../../images/index_new/helpIcon.png);}
.usque .usq_gr .usq11{ background-position: 8px 30px;}
.usque .usq_gr .usq12{ background-position: 27px -198px;}
.usque .usq_gr .usq13{ background-position: 27px -88px;}
.usque .usq_gr .usq14{ background-position: 17px -306px;}
.usque .usq_gr .usq15{ background-position: 1px -882px}
.usque .usq_gr .usq16{ background-position: 17px -423px;}
.usque .usq_gr .usq18{ background-position: 17px -534px;}
.usque .usq_gr .usq30{ background-position: 17px -995px;}
.usque .usq_gr .usq31{ background-position: 17px -750px;}

.usque .usq_gr .usq20{ background-position: 17px -644px;}

/* 常见问题 */
.hleft,.hright{ border:1px solid #e4e1dc; background: #fff;padding: 2%}
.hleft{ width: 21%; }
.hright{ width: 68%;}
.hleft h2{ font-weight: normal; font-size: 24px; text-align: center; border-bottom: 1px solid #e4e1dc; margin: 0px; padding-bottom: 10px;}
.hleft ul{ margin-top: 15px;}
.hleft ul li{ height: 30px; line-height: 30px; margin: 5px 0;padding-left:0px;}
.hleft ul li.current{ background: #fff;}
.hleft ul li:hover{ background: #e5e7ed}
.hleft ul li a{ display: inline-block; height: 30px; font-size: 14px; border-left: 3px solid #fff;  padding-left: 20px; width: 90%;}
.hleft ul li:hover a:hover{border-left: 3px solid #50bcf0;}

.hleft ul li.current a, .hleft ul li:hover a{ color: #333;border-left: 3px solid #50bcf0; background: #e5e7ed}
.hright > h2 span{background:url("../../images/index_new/icon2.png") 1px -138px no-repeat;}
.hright .hrde{background:none; padding-left: 26px; border-bottom: none;}
.hright > h2{ padding-left: 0px; border-bottom: none; border-top: 1px solid #eeeeee;}
.hright > h2:first-child{ border-top: none;}
.hright > h2 i.itop,.hright > h2 i.ibottom{background:url("../../images/index_new/icon2.png") no-repeat;}
.hright > h2 i.itop{ background-position: 0 -91px;}
.hright > h2 i.ibottom{ background-position: 0 -120px;}

.repnews-main h2,.repnews-main .news-data{ text-align: left;}
.repnews-main .news-data{border-bottom:1px solid #DDDDDD;margin-bottom:0px; padding-bottom: 20px;}
.repnews-main p{ margin-top: 20px;}

.navtitle{  background:none; height: 50px; line-height: 50px; margin-top: 25px;}
.navtitle .wrapper{ border-top-left-radius: 5px; border-top-right-radius: 5px; position:relative; background:url("../../images/index_new/background_03.png");}
.navtitle  .dhong{background:url("../../images/index_new/background_red_03.png");}
.navtitle .navleft h2{height: 50px; line-height: 50px; font-size: 18px; margin-left: 110px;}
.navtitle .navright{ margin-top: 0px;}


.navtitle .bottom{ height: 50px; width: 75px; background: url("../../images/index_new/icon4.png"); top: 6px; left: 40px;}
.navtitle .bottom2{background-position: -1px -406px;left: 35px;}
.fincontext{border-left: 1px solid #e4e1dc; border-right: 1px solid #e4e1dc; padding-bottom: 20px; /*border-bottom-left-radius:20px; border-bottom-right-radius :20px;*/}
.th_middle{ background:url("../../images/index_new/1510_03.jpg") no-repeat 100%; height: 40px; width: 1100px; margin: 0 auto;}
.fincontext .fleft{ margin-left:35px;padding-right:0px;}
.fincontext .fleft .money{ background:#f6f6f6; border:1px solid #e4e1dc; border-bottom: 1px dashed #e4e1dc; border-top-left-radius: 5px; border-top-right-radius: 5px; }
.fincontext .fleft .money h2{ height: auto; display: inline-block;float: left; width: 35%; border-right: 1px solid #e4e1dc; border-bottom: 0px;}
.fincontext .fleft .money .dfiny{ display: inline-block;float: left;width: 64.5%;}
.fincontext .fleft .money h2 big{ display: block; color:#333333;}
.fincontext .fleft .money .ftimeicon{ display: none;}

.fincontext .fleft .money .dfiny span{ width: 28%; height: auto; margin-left: 5%; margin-top:15px;}
.fincontext .fleft .money .dfiny em{ margin-top:5px; display:inline-block; margin-left:5px;}
.fincontext .fleft .money .dfiny span code,.fincontext .fleft .money .dfiny span i{ display: block;}
.fincontext .fleft .money .dfiny span code{font-size: 18px; color: #f43b39}
.fincontext .fleft .detail span{ width: 25%; height: auto; color:#666}
.fincontext .fleft::after{/* delete */}
.fincontext .fleft .progressbar{ display: inline-block;float: left;  width: 50%; margin-top: 10px; margin-left: 5%;}
.newborrow{ margin-top: 15px;}
.newborrow p.ntitle{ color: #666;}
.newborrow p{ font-size: 12px;}

.projectDetail .prl span a{ color: #00beff; text-decoration: none;}
.projectDetail .prl span a:hover{ text-decoration: underline;}
.tabdivs{}
.tabdivs h2 ul.ul3 li{ background: url("../../images/index_new/icon4.png") no-repeat;}
.tabdivs h2 ul.ul3 li.ntabli1{ background-position: 26px -102px; }
.tabdivs h2 ul.ul3 li.ntabli2{ background-position: 19px -504px;}
.finanDetail .colspan span.ct7{ background: url("../../images/index_new/icon4.png") -1px -173px no-repeat;}
.loanDetails .loanDetails_title_con{background:none;}
.loanDetails{ width: 1100px; margin: 0 auto; margin-top: -25px; border:1px solid #e4e1dc; border-top:none;border-bottom-left-radius: 20px;border-bottom-right-radius: 20px; padding-bottom: 25px;}
.loanDetails .loanDetails_title{ font-size: 22px;background:url("../../images/index_new/icon4.png") 8px -554px no-repeat; padding-left: 40px; margin-top: 25px;}
.loanDetails .loanDetails_title2{ background-position: 8px -346px;}
.bid_information{margin: 10px auto;}
.bid_information table{  border:1px solid #e4e1dc; background:#e5e7ed; height: 40px; line-height: 40px; }
.thloanDetails{border-bottom-left-radius: 0px;border-bottom-right-radius: 0px; border-bottom: none;}
.bid_information .bid_information_tab2 tr{height: 40px; line-height: 40px; background:#fff; border-bottom:1px solid #e4e1dc; }
.bid_information .bid_information_tab2 tr:nth-child(2n){background:#fff;}

.rightbtn {background-position: -54px -218px;}
.loanDetails .loanDetails_box p .basic5_icon,.loanDetails .loanDetails_box p .basic4_icon,.loanDetails .loanDetails_box p .basic3_icon,.loanDetails .loanDetails_box p .basic2_icon,.loanDetails .loanDetails_box p .basic_icon{ background: url("../../images/index_new/icon4.png") -1px -173px no-repeat;}
.loanDetails .loanDetails_box{border:1px solid #e4e1dc; width: 981px; margin-top: 20px;}

.loanDetails .nlfirst{ margin-top: 5px;}

.fincontext .fleft .money .clearFloat span.yearmoney,.fincontext .fleft .money .clearFloat span.yearmoney2,.fincontext .fleft .money .clearFloat span.yearmoney3{ height: auto; padding-top: 15px; padding-bottom: 5px; border-right: 1px solid #e4e1dc;}
.yearmoney2,.yearmoney3{margin-left: 30px;}
.yearmoney2{/*1 2 3 */}
.fincontext .fleft .money .clearFloat span.yearmoney3{ border-right:none!important; width: 36%;}
.fincontext .fleft .money .clearFloat span big{ font-size: 50px; color: #333;}
.fincontext .fleft .money .clearFloat span.yearmoney3 big{ font-size: 24px;}
.fincontext .fleft .money .clearFloat span big small{ font-size: 12px;}
.fincontext .fleft .money .clearFloat span.yearmoney3 .progressbar{ margin-top: 5px;  margin-left: 1%; width: 83%; float: none;}
.fincontext .fleft .money .clearFloat span.yearmoney3 .progressbar i{ top: -8px;}
.fincontext .fright .spdiv button{background:#f6f6f6; border:1px solid #e4e1dc;}
.fdheng2{border:1px solid #e4e1dc; width: 1100px; margin: 0 auto; margin-top: 25px;}

.finproject .fltitle{ width: 1100px; margin:0 auto; margin-top: 25px; background:#e5e7ed; height: 30px; line-height: 30px; overflow: hidden;}

.dltitleul:hover{ background:#fffff7; box-shadow:1px 1px 3px #fffff7;}
.dltitleul:hover a.btn{background:#e5e7ed; line-height:32px;height:32px; }
.dltitleul:hover a.btn-deer-gray{background:#dddddd;}

.dlcontext li .titleicon{ background: url("../../images/index_new/icon3.png") -1px 25px no-repeat; width: 25px;}
.finproject li.con{ color: #ff9000;}
.finproject li .xy1,.finproject li .xy2{background: url("../../images/index_new/icon3.png") no-repeat;}
.finproject li .xy1{background-position: -1px -60px;}
.finproject li .xy2{background-position: -1px -32px; height: 40px; margin-bottom: 18px;}
.dlcontext .pro2d{background: #ccc; height: 12px; border-radius: 7px; width: 89%; position: relative;}
.dlcontext .pro2{background: #1ed567; height: 12px; border-radius: 7px;}
.dlcontext .pro2d em.epro{ color: #fff; position: absolute; top: -1px; left: 45%; height: 15px; line-height: 15px; font-size: 12px;}
.finproject li.sp7 a{ color: #666;}
.finproject .dltitleul li.sp6 { width:258px;}
.finproject  li.sp7 a.btn-deer-gray{background: #e5e7ed;}
.dltitleul:hover a.btn{ border:none; background:#ffc339; color: #fff; line-height:32px;height:32px; }
.dltitleul:hover a.btn-deer-gray{background:#dddddd;}
.pai{ height: 50px; line-height: 50px; background: #e5e7ed; border-top: 1px solid #e4e1dc;}
.fdheng .pai .firstsp{height: 30px; line-height: 50px;}
.pai .xiala{background-color: #fff;margin-top: 10px;background-image: url("../../images/index_new/icon3.png"); background-position: 64px -158px;}
.pai .uldiv{}

.finproject .dltitleul li.sp1{ position: relative;}
.finproject .dltitleul li.sp1 em.esp{ position: absolute; right: -28px; top: 10px;height: 23px;line-height: 21px; width: 36px;color: #fff;text-align:center;font-size: 12px;display: inline-block;background: url("../../images/index_new/icon3.png") -1px -133px no-repeat; }
#tab2 .fdheng2{ padding-top: 15px;}
#tab2 .fdheng .fdif .firstsp{ margin-left: 0px;}
#tab2 .fdheng .fdif{ padding: 5px 30px;}
#tab2 .fdheng .fdif dl dt{border: none; background: none; width: auto;}
#tab2 .fdheng .fdif .daction{background: #00beff; color: #fff;}
#tab2 .fdheng .fdif .select_new dd{ display: inline-block;  position: static; height: auto; border: none;}
#tab2 .fdheng .fdif .select_new dd ul{ height: auto;width: auto;}
#tab2 .fdheng .fdif .select_new dd ul li{ display: inline-block;float: left; padding: 0 10px;}
#tab2 .fdheng .fdif .select_new dd ul li a{line-height: 28px; border:none;}
#tab2 .fdheng .fdif .select_new dd ul li a:hover{ line-height: 28px;}

.fdheng .fdif .fdsp{ width: 70px;}
.finproject  li.sp1 a{}
.flbuy .groupbtn{ margin-bottom: 25px;}
.flbuy .btn-error{ background: #feb611;}
.flbuy .btn-error:hover,.fincontext .fright button.btn-error:hover{background: #faae00;}
.flbuy .btn-error:active,.fincontext .fright button.btn-error:active{background: #e8a200;}
.fincontext .fright button.btn-error{}
.flbuy .btn-write{ height: 40px;line-height: 36px; border:1px solid #e4e1dc; color: #666;}

.flright .input-group i.yuan1{ top: 4px!important;}

.pai .xiala{background-color: #fff; color: #666; }
.pai .xiala6{background-color: #00beff; color: #fff; background-image:url(../../images/index_new/icon3.png);background-position: 64px -158px;}
.pai .xiala7{background-color: #00beff; color: #fff; background-image:url(../../images/index_new/icon3.png);background-position:62px 13px;background-position: 64px -474px;}

















