<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd   
         http://www.springframework.org/schema/mvc
         http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

	<bean id="exceptionHandler" class="com.xt.cfp.web.exception.CfpHandlerExceptionResolver"/>

    <mvc:annotation-driven>
        <mvc:message-converters register-defaults="true">
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <constructor-arg>
                    <bean class="java.nio.charset.Charset" factory-method="forName">
                        <constructor-arg value="UTF-8"/>
                    </bean>
                </constructor-arg>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>
    <context:component-scan base-package="com.xt.cfp.web.controller" />
    <aop:aspectj-autoproxy proxy-target-class="true" />
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <bean class="com.xt.cfp.web.aop.UserCheckAop"/>
    <mvc:resources mapping="/js/**" location="/resources/js/"/>
    <mvc:resources mapping="/css/**" location="/resources/css/"/>
    <mvc:resources mapping="/images/**" location="/resources/images/"/>
    <mvc:resources mapping="/script/**" location="/resources/js/script/"/>
    <mvc:resources mapping="/mobile/**" location="/resources/mobile/"/>
    <mvc:resources mapping="/doc/**" location="/resources/doc/"/>
    <mvc:resources mapping="/cfpUploadPic/temporary/**" location="/cfpUploadPic/temporary/"/>
    <mvc:resources mapping="/cfpUploadPic/qrcode/**" location="/cfpUploadPic/qrcode/"/>
    <mvc:resources mapping="/cfpUploadPic/agreement/**" location="/cfpUploadPic/agreement/"/>
    <mvc:resources mapping="/cfpUploadPic/loanDesc/**" location="/cfpUploadPic/loanDesc/"/>
    <mvc:resources mapping="/cfpUploadPic/formal/**" location="/cfpUploadPic/formal/"/>
    <mvc:resources mapping="/cfpUploadPic/appStartPagePic/**" location="/cfpUploadPic/appStartPagePic/"/>
</beans>