<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="USER_ACCOUNT" >
  <resultMap id="BaseResultMap" type="com.xt.cfp.core.pojo.UserAccount" >
    <id column="ACC_ID" property="accId" jdbcType="DECIMAL" />
    <result column="USER_ID" property="userId" jdbcType="DECIMAL" />
    <result column="ACC_TYPE_CODE" property="accTypeCode" jdbcType="VARCHAR" />
    <result column="VALUE" property="value" jdbcType="DECIMAL" />
    <result column="VALUE2" property="value2" jdbcType="DECIMAL" />
    <result column="AVAIL_VALUE" property="availValue" jdbcType="DECIMAL" />
    <result column="AVAIL_VALUE2" property="availValue2" jdbcType="DECIMAL" />
    <result column="FROZE_VALUE" property="frozeValue" jdbcType="DECIMAL" />
    <result column="FROZE_VALUE2" property="frozeValue2" jdbcType="DECIMAL" />
    <result column="ACC_STATUS" property="accStatus" jdbcType="CHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ACC_ID, USER_ID, ACC_TYPE_CODE, VALUE, VALUE2, AVAIL_VALUE, AVAIL_VALUE2, FROZE_VALUE, 
    FROZE_VALUE2, ACC_STATUS, CREATE_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from USER_ACCOUNT
    where ACC_ID = #{accId,jdbcType=DECIMAL}
  </select>

  <select id="correctionPrecision" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select
    <include refid="Base_Column_List" />

    from USER_ACCOUNT ua where UA.ACC_TYPE_CODE = '2' and

    <![CDATA[
    UA.AVAIL_VALUE<UA.AVAIL_VALUE2
    ]]>
  </select>
    <select id="lockAccountByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select
    <include refid="Base_Column_List" />
    from USER_ACCOUNT
    where ACC_ID = #{accId,jdbcType=DECIMAL} for update
  </select>

  <select id="getUserAccountByUserIdAndAccountTypeCode" resultMap="BaseResultMap" parameterType="map" >
    select
    <include refid="Base_Column_List" />
    from USER_ACCOUNT
    where USER_ID = #{userId,jdbcType=DECIMAL}
    AND ACC_TYPE_CODE = #{accTypeCode,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from USER_ACCOUNT
    where ACC_ID = #{accId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.xt.cfp.core.pojo.UserAccount" >
    <selectKey keyProperty="accId" order="BEFORE" resultType="long">
      SELECT SEQ_USER_ACCOUNT.NEXTVAL as accId FROM dual
    </selectKey>
    insert into USER_ACCOUNT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="accId != null" >
        ACC_ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="accTypeCode != null" >
        ACC_TYPE_CODE,
      </if>
      <if test="value != null" >
        VALUE,
      </if>
      <if test="value2 != null" >
        VALUE2,
      </if>
      <if test="availValue != null" >
        AVAIL_VALUE,
      </if>
      <if test="availValue2 != null" >
        AVAIL_VALUE2,
      </if>
      <if test="frozeValue != null" >
        FROZE_VALUE,
      </if>
      <if test="frozeValue2 != null" >
        FROZE_VALUE2,
      </if>
      <if test="accStatus != null" >
        ACC_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="accId != null" >
        #{accId,jdbcType=DECIMAL},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=DECIMAL},
      </if>
      <if test="accTypeCode != null" >
        #{accTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="value != null" >
        #{value,jdbcType=DECIMAL},
      </if>
      <if test="value2 != null" >
        #{value2,jdbcType=DECIMAL},
      </if>
      <if test="availValue != null" >
        #{availValue,jdbcType=DECIMAL},
      </if>
      <if test="availValue2 != null" >
        #{availValue2,jdbcType=DECIMAL},
      </if>
      <if test="frozeValue != null" >
        #{frozeValue,jdbcType=DECIMAL},
      </if>
      <if test="frozeValue2 != null" >
        #{frozeValue2,jdbcType=DECIMAL},
      </if>
      <if test="accStatus != null" >
        #{accStatus,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="changeAccountStatus" parameterType="map" >
    update USER_ACCOUNT
    set
      ACC_STATUS = #{accStatus,jdbcType=CHAR}
    where ACC_ID = #{accId,jdbcType=DECIMAL}
  </update>

  <update id="updateByPrimaryKeySelective" parameterType="com.xt.cfp.core.pojo.UserAccount" >
    update USER_ACCOUNT
    <set >
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=DECIMAL},
      </if>
      <if test="accTypeCode != null" >
        ACC_TYPE_CODE = #{accTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="value != null" >
        VALUE = #{value,jdbcType=DECIMAL},
      </if>
      <if test="value2 != null" >
        VALUE2 = #{value2,jdbcType=DECIMAL},
      </if>
      <if test="availValue != null" >
        AVAIL_VALUE = #{availValue,jdbcType=DECIMAL},
      </if>
      <if test="availValue2 != null" >
        AVAIL_VALUE2 = #{availValue2,jdbcType=DECIMAL},
      </if>
      <if test="frozeValue != null" >
        FROZE_VALUE = #{frozeValue,jdbcType=DECIMAL},
      </if>
      <if test="frozeValue2 != null" >
        FROZE_VALUE2 = #{frozeValue2,jdbcType=DECIMAL},
      </if>
      <if test="accStatus != null" >
        ACC_STATUS = #{accStatus,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ACC_ID = #{accId,jdbcType=DECIMAL}
  </update>
  <select id="getUserFinanceAccount" parameterType="long" resultMap = "BaseResultMap">
  	select
		<include refid="Base_Column_List" />
		 from USER_ACCOUNT ua where ua.USER_ID = #{userId} and ua.ACC_TYPE_CODE='5'  
  </select>
  
  <!--  省心账户用户总共理财中金额 -->
  <select id="getUserFinancingAccountValueByUserId"  parameterType="long" resultType="java.math.BigDecimal" >
  	    select nvl(sum(rrd.should_balance2 - rrd.fact_balance), 0)  
		       	from rights_repayment_detail rrd, creditor_rights cr, lend_order lo   
		      where rrd.creditor_rights_id = cr.creditor_rights_id   
		        and lo.lend_order_id = cr.lend_order_id    
		        and rrd.rights_detail_state in ('0', '1', '3')   
		        and lo.customer_account_id in    
		            (select ua.acc_id   
		               from user_account ua   
		              where ua.user_id = #{userId}    
		                and ua.acc_type_code = '5')     
  </select>
  <!--  省心账户用户单个理财订单的理财中金额  -->
    <select id="getUserFinancingAccountValueByAccId"  parameterType="long" resultType="java.math.BigDecimal"  >
      select nvl(sum(rrd.should_balance2 - rrd.fact_balance), 0)
	        from rights_repayment_detail rrd, creditor_rights cr, lend_order lo
	       where rrd.creditor_rights_id = cr.creditor_rights_id
	         and lo.lend_order_id = cr.lend_order_id
	         and rrd.rights_detail_state in ('0', '1', '3')
	         and lo.customer_account_id =#{accId}   
  </select>

  <select id="getErrorHisIds" resultType="java.lang.Long">
      SELECT uah.HIS_ID FROM USER_ACCOUNT_HIS uah WHERE uah."DESC" like '因参与【8月内部投标奖励】活动%'
  </select>

  <select id="getPlatformAccountByType" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from USER_ACCOUNT
    where ACC_TYPE_CODE = #{accTypeCode,jdbcType=VARCHAR}
  </select>
</mapper>