<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="USER_SHARE" >
  <resultMap id="BaseResultMap" type="com.xt.cfp.core.pojo.UserShare" >
    <id column="USER_SHARE_ID" property="userShareId" jdbcType="DECIMAL" />
    <result column="USER_ID" property="userId" jdbcType="DECIMAL" />
    <result column="ACTIVITY_NUMBER" property="activityNumber" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="IS_SHARE" property="isShare" jdbcType="VARCHAR" />
    <result column="LUCK_DRAW_NUM" property="luckDrawNum" jdbcType="DECIMAL" />
    <result column="USED_LUCK_DRAW_NUM" property="usedLuckDrawNum" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    USER_SHARE_ID, USER_ID, ACTIVITY_NUMBER, CREATE_TIME, IS_SHARE, LUCK_DRAW_NUM, USED_LUCK_DRAW_NUM
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from USER_SHARE
    where USER_SHARE_ID = #{userShareId,jdbcType=DECIMAL}
  </select>
  
  <select id="getUserSHareByUserId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from USER_SHARE
    where USER_ID = #{userId,jdbcType=DECIMAL} and ACTIVITY_NUMBER= #{activityId,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from USER_SHARE
    where USER_SHARE_ID = #{userShareId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.xt.cfp.core.pojo.UserShare" >
    <selectKey keyProperty="userShareId" order="BEFORE" resultType="long">
      SELECT SEQ_USER_SHARE.NEXTVAL as userShareId FROM dual
    </selectKey>
    insert into USER_SHARE (USER_SHARE_ID, USER_ID, ACTIVITY_NUMBER, 
      CREATE_TIME, IS_SHARE, LUCK_DRAW_NUM, USED_LUCK_DRAW_NUM
      )
    values (#{userShareId,jdbcType=DECIMAL}, #{userId,jdbcType=DECIMAL}, #{activityNumber,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{isShare,jdbcType=VARCHAR}, #{luckDrawNum,jdbcType=DECIMAL}, #{usedLuckDrawNum,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xt.cfp.core.pojo.UserShare" >
    insert into USER_SHARE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userShareId != null" >
        USER_SHARE_ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="activityNumber != null" >
        ACTIVITY_NUMBER,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="isShare != null" >
        IS_SHARE,
      </if>
      <if test="luckDrawNum != null" >
        LUCK_DRAW_NUM,
      </if>
      <if test="usedLuckDrawNum != null" >
        USED_LUCK_DRAW_NUM,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userShareId != null" >
        #{userShareId,jdbcType=DECIMAL},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=DECIMAL},
      </if>
      <if test="activityNumber != null" >
        #{activityNumber,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isShare != null" >
        #{isShare,jdbcType=VARCHAR},
      </if>
      <if test="luckDrawNum != null" >
        #{luckDrawNum,jdbcType=DECIMAL},
      </if>
      <if test="usedLuckDrawNum != null" >
        #{usedLuckDrawNum,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xt.cfp.core.pojo.UserShare" >
    update USER_SHARE
    <set >
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=DECIMAL},
      </if>
      <if test="activityNumber != null" >
        ACTIVITY_NUMBER = #{activityNumber,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isShare != null" >
        IS_SHARE = #{isShare,jdbcType=VARCHAR},
      </if>
      <if test="luckDrawNum != null" >
        LUCK_DRAW_NUM = #{luckDrawNum,jdbcType=DECIMAL},
      </if>
      <if test="usedLuckDrawNum != null" >
        USED_LUCK_DRAW_NUM = #{usedLuckDrawNum,jdbcType=DECIMAL},
      </if>
    </set>
    where USER_SHARE_ID = #{userShareId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xt.cfp.core.pojo.UserShare" >
    update USER_SHARE
    set USER_ID = #{userId,jdbcType=DECIMAL},
      ACTIVITY_NUMBER = #{activityNumber,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      IS_SHARE = #{isShare,jdbcType=VARCHAR},
      LUCK_DRAW_NUM = #{luckDrawNum,jdbcType=DECIMAL},
      USED_LUCK_DRAW_NUM = #{usedLuckDrawNum,jdbcType=DECIMAL}
    where USER_SHARE_ID = #{userShareId,jdbcType=DECIMAL}
  </update>
</mapper>