@charset "utf-8";
/* CSS Document */

/* base css */
.position-rela{ position:relative;} /* 相对位置 */
.display-none{ display:none;} /* 标签隐藏 */
.display-inherit{ display:inherit!important;}
.back-write{ background:#fff;} /*背景颜色*/
.cut_str{overflow: hidden;white-space: nowrap;-o-text-overflow: ellipsis;text-overflow: ellipsis;} /* () 截串 */
.border-radius15{-moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius:15px;}/* 圆角按钮*/

/* text-align */
.tal{ text-align:left!important;}
.tac{ text-align:center!important;}
.tar{ text-align:right;}
.block-center{ margin:0 auto;}
.fontsize12{font-size:12px}

/* 红色小圆圈 */
.yuan{ display:inline-block; height:15px; line-height:15px; width:15px; font-size:8px; background:#ea544a; text-align:center; color:#fff; margin-left:2px; border-radius:10px;}


/* box-shadow 文本框阴影*/
.input-show:hover{border:1px solid #FF9801;box-shadow:0 0 3px #FF9801;}

/* page 分页 */
.page{ width:450px; text-align:center; margin:25px auto}
.page a{ display:inline-block; float:left; padding:4px 11px; border:1px solid #eaeaea;  margin:0 8px;}
.page a.action{ background:#ea5648; color:#fff; border:1px solid #ea5648;}

/* select */
.select{ position:relative;}
.select dt{height:28px;display:inline-block;border:1px solid #e5e5e5;background:#fcfcfb url(../images/fd_16.jpg) no-repeat 95% center;line-height:28px;padding-left:10px;cursor:pointer;width:106px;padding-right:12px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;position:relative;z-index:999; text-align:left;}
.select dt:hover,.select dt.cur{border:1px solid #409DFE;box-shadow:0 0 3px #409DFE;}
.select dd{position:absolute;left:0;top:29px;border:1px solid #d2ccc4;background:#fff;display:none;z-index:998;}
.select dd ul{width:127px;height:160px;overflow:scroll;}
.select dd ul li a{line-height:28px;display:block;padding:0 8px; color:#666666; text-decoration:none; text-align:left; border-top:1px solid #fff; border-bottom:1px solid #fff;}
.select dd ul li a:hover{background:#f5f5f5; border-top:1px solid #dddddd; border-bottom:1px solid #dddddd}
.zindex dd{z-index:999!important;}

/* input-group 输入框 */
.input-group h2{ height:60px; line-height:58px; font-size:20px; border-bottom:1px solid #eaeaea;}
.input-group em{ width:100%; height:30px; line-height:30px; display:block; color:#fe2a4d; font-size:12px;}
.input-group .ipt-input{ height:35px; line-height:35px; padding-left:9px; border:1px solid #dddddd; color:#333333;}

.input-group .ipt-error{ border:1px solid #fe2a4d;}
.input-group .ipt-input:hover, .input-group input.cut, .input-group input:focus{border:1px solid #409DFE;box-shadow:0 0 3px #409DFE;}
.ipt-input[disabled]{ cursor:no-drop}
.ipt-input[disabled]:hover{ box-shadow:none;border:1px solid #dddddd;}

.ipt-error:hover, .ipt-error:focus{border:1px solid #fe2a4d!important;box-shadow:0 0 3px #fe2a4d!important;}
.input-group .btn-submit{ height:30px; line-height:30px; box-shadow:none; font-size:16px;}

/* progressbar 进度条 background:url(../images/icon.png) no-repeat;

background-position:-165px -27px; */
.divpro{ height:18px; position:relative; }
.progressbar{ height:8px; background:#d2d2d2; border-radius:2px;}
.progressbar .prored{ height:8px; background:#36b1e9; position:relative;border-radius:2px;}
.divpro i{ display:block; background:url(../images/icon_03.png) center center no-repeat; height:25px; width:25px; position:absolute; right:-12px;top:-15px; z-index:999}

.pro2d{ width:100px; height:5px; background:#dddddd;}
.pro2{ height:5px; background:#fe2a4d}

.tcdPageCode{padding: 15px 20px;text-align: center;color: #999999;}
.tcdPageCode a{display: inline-block;color: #999999;display: inline-block;height: 30px;	line-height: 30px;	padding: 0 12px; background:#eeeeee;	margin: 0 2px;border-radius: 2px; text-decoration:none;vertical-align: middle;}

.tcdPageCode span.current{display: inline-block;height: 30px;line-height: 30px;padding: 0 12px;margin: 0 2px;border-radius: 2px;vertical-align: middle; background:#dddddd;}
.tcdPageCode span.disabled{	display: inline-block;height: 30px;line-height: 30px;padding: 0 10px;margin: 0 2px;background: #f2f2f2;border-radius: 2px;vertical-align: middle;}

.zhezhao,.zhezhao1,.zhezhao5,.zhezhao6,.zhezhao2{ background:#000; position:absolute; top:0px; left:0px; right:0px; z-index:9998; width:100%;}
.zhezhao{ opacity: 0.8;filter: progid:DXImageTransform.Microsoft.Alpha(opacity=20); display:none;}
.zhezhao1,.zhezhao5,.zhezhao6{ text-align:center; opacity: 0.65;filter: progid:DXImageTransform.Microsoft.Alpha(opacity=35); display:none;}
.zhezhao2{ opacity: 0.8;filter: progid:DXImageTransform.Microsoft.Alpha(opacity=20); }
/*遮罩*/
.masklayer{ position:fixed;
  width:599px;  font-size:14px; padding-bottom:40px; display:none; z-index:9999; }
.masklback{box-shadow:0 0 3px #e5e5e5; background:#ffffff;color:#333333;  border-bottom:1px solid #dddddd;}
.masklayer .register{ padding:0;}
.masklayer>h2{ background:#f5f5f5; height:55px; line-height:55px; color:#333333; font-size:18px; border-bottom:1px solid #dddddd; padding-left:20px;}
.masklayer>h2 span{ display:inline-block; float:left;}
.masklayer>h2 a{ display:inline-block; float:right; height:55px; background:url(../images/buy_03.png) center center no-repeat; width:55px;}
.masklayer>h2 a.logina{ background-image:url(../images/login_03.png); background-position:top right;}
.masklayer .swid dt{ width:102px;}
.masklayer .swid ul{ width:116px;}
.masklayer form>div label span{ width:130px; }
.masklayer .groupbtn{ text-align:center;}
.masklayer .groupbtn button.btn{ width:120px; display:inline-block; float:left;}
.masklayer .input-group em{ height:20px; line-height:20px;}
.masklayer .groupbtn button.btn{ width:147px;}

/*遮罩*/
.masklayers{ position:absolute;
  width:599px;  font-size:14px; padding-bottom:40px; display:none; z-index:9999; }
.masklback{box-shadow:0 0 3px #e5e5e5; background:#ffffff;color:#333333;  border-bottom:1px solid #dddddd;}
.masklayers .register{ padding:0;}
.masklayers>h2{ background:#f5f5f5; height:55px; line-height:55px; color:#333333; font-size:18px; border-bottom:1px solid #dddddd; padding-left:20px;}
.masklayers>h2 span{ display:inline-block; float:left;}
.masklayers>h2 a{ display:inline-block; float:right; height:55px; background:url(../images/buy_03.png) center center no-repeat; width:55px;}
.masklayers>h2 a.logina{ background-image:url(../images/login_03.png); background-position:top right;}
.masklayers .swid dt{ width:102px;}
.masklayers .swid ul{ width:116px;}
.masklayers form>div label span{ width:130px; }
.masklayers .groupbtn{ text-align:center;}
.masklayers .groupbtn button.btn{ width:120px; display:inline-block; float:left;}
.masklayers .input-group em{ height:20px; line-height:20px;}
.masklayers .groupbtn button.btn{ width:147px;}

.masklayer1{position:fixed;font-size:14px; z-index:9999;top:25px; left:23%; }
.mstate{ height:310px}

/*------------------------------ 按钮 css start -----------------------------*/

/* 按钮 */
.btn{overflow: visible;/* 明显的 明显显示*/-pie-lazy-init: true; display:block; height:36px; line-height:36px;  color:#fff; border:1px solid #ccc; cursor:pointer; text-align:center;margin-top: 10px; border-radius:2px; text-decoration:none!important;}
.btn:active{ position: relative; top: 1px;}
.btn[disabled]{ cursor:no-drop}
.btn[disabled]:active{ top:0px;}

/* 红色按钮 */
.btn-error{
	  border:none;
	  background:#fe2b4e;
	  background: -webkit-linear-gradient(#fe405f, #fe2b4e); /* Safari 5.1 - 6.0 */
	  background: -o-linear-gradient(#fe405f, #fe2b4e); /* Opera 11.1 - 12.0 */
	  background: -moz-linear-gradient(#fe405f, #fe2b4e); /* Firefox 3.6 - 15 */
	  background: linear-gradient(#fe405f, #fe2b4e); /* 标准的语法 */
	  color: #fef4e9!important;}
.btn-error:hover{background: #fe2b4e;}
.btn-error:active{color: #fcd3a5;}
.btn-error[disabled]{background: #ffacba!important;}


/* 浅红色按钮 */
.btn-light-error{ border:none; color:#fff!important; background: #fc787e;}
.btn-light-error:hover{ background:#ff6269}
.btn-light-error:active{}
/* 浅绿色按钮 */
.btn-light-green{ border:none; color:#fff!important; background: #35d5aa;}
.btn-light-green:hover{ background:#31caa1}
.btn-light-green:active{}
/* 灰色按钮 */
.btn-gray{ border:none; color:#666666; background: #eeeeee;}
.btn-gray:hover{background: #EEEEEE;}
.btn-gray:active{background: #EEEEEE;}

/* 深灰色按钮 */
.btn-deer-gray{ border:none; color:#666666!important; background: #dfdfdf;}
.btn-deer-gray:hover{background: #dddddd;}
.btn-deer-gray:active{background: #dddddd;}

/* 白色按钮 */
.btn-write{border: solid 1px #fe2a4d;background: #fff;color:#fe2a4d;}
.btn-write:hover{background: #fff;}
.btn-write:active{background: #fff; color:#fe2a4d;}

/* 蓝色按钮 */
.btn-blue{color: #fff!important; border: solid 1px #03004c; background: #03004c;}
.btn-blue:hover{background: #03004c;}
.btn-blue:active{color: #c2deef;}
.btn-blue[disabled]{background: #e0dfff!important; border:1px solid #e0dfff;}

/* 浅蓝色按钮 */
.btn-light-blue{color: #fff;border: solid 1px #22abf3;background: #22abf3;}
.btn-light-blue:hover{background: #0ea5f4;}
.btn-light-blue:active{color: #c2deef;}

/* 图标 */
.sel, .phone, .twodimen,.helpicon,.timeicon, .emailicon, .shu, .ftimeicon, .baoicon,.baoicon2,.refurchicon,.refurchicon2, .duiicon, .suoicon, .wenicon, .kaicon, .shiicon,.parericon{ display:inline-block; float:left; background:url(../images/icon.png); background-repeat:no-repeat; }
.sel, .phone, .twodimen,.helpicon,.timeicon, .emailicon, .shu, .baoicon, .baoicon2, .refurchicon,.refurchicon2, .duiicon, .suoicon, .wenicon ,.kaicon, .shiicon ,.parericon{ height:18px; width:18px;}

.ftimeicon{ height:30px; width:30px;background-position: -71px -140px;}
.sel{background-position:0px -30px;}
.phone{background-position:0px 0px;}
.twodimen{ background-position:0px -57px;}
.helpicon{ background-position:0px -84px;}
.timeicon{background-position: -70px -55px;}
.emailicon{background-position: -70px -228px;}
.shu{background-position: 0px -252px;}
.baoicon{ background:url(../images/detail_03.jpg) center center no-repeat;}
.baoicon2{ background:url(../images/detail_04.jpg) center center no-repeat;}
.refurchicon2{ background:url(../images/detail_05.jpg) center center no-repeat;}
.refurchicon{ background:url(../images/detail_06.jpg) center center no-repeat;}
.duiicon{ background:url(../images/detail_11.jpg) center center no-repeat}
.suoicon{ background:url(../images/detail_12.png) center center no-repeat;}
.wenicon{background-position:-70px 0px ;}
.kaicon{background-position:-70px -171px ; }
.shiicon{background-position:-70px -200px }
.parericon{background-position: -114px 0 }


/*------------------------------ 遮罩层 -----------------------------*/

/* 宽度 */
.wid100{ width:100%;}
.clear{ clear:both;}
.clear-50{ clear:both;height:50px;}
.margin2{ width:20px; height:20px;}
/* 上间距 */
.mt-0{ margin-top:0px!important;}
.mt-5{ margin-top:5px;}
.mt-8{ margin-top:8px;}
.mt-10{ margin-top:10px;}
.mt-15{ margin-top:15px;}
.mt-20{ margin-top:20px;}
.mt-25{ margin-top:25px;}
.mt-30{ margin-top:30px;}
.mt-40{ margin-top:40px;}
.mt-50{ margin-top:50px;}
.mt-100{ margin-top:100px;}
.mt-150{ margin-top:150px;}
.mt-200{ margin-top:200px;}
.mt-300{ margin-top:300px;}

/* 右侧间距 */
.mr-5{ margin-right:5px;}
.mr-10{ margin-right:10px;}
.mr-15{ margin-right:15px;}
.mr-20{ margin-right:20px!important;}
.mr-25{ margin-right:25px!important;}

/* 底部间距 */
.mb-10{ margin-bottom:10px;}
.mb-30{ margin-bottom:30px;}
.mb-150{ margin-bottom:150px;}
.mb-200{ margin-bottom:200px;}

/* 左间距 */
.ml-0{ margin-left:0px!important;}
.ml-2{ margin-left:2px;}
.ml-5{ margin-left:5px;}
.ml-8{ margin-left:8px;}
.ml-10{ margin-left:10px;}
.ml-20{ margin-left:20px;}
.ml-30{ margin-left:30px;}
.ml-50{ margin-left:50px;}
.ml-75{ margin-left:75px;}
.ml-80{ margin-left:80px;}
.ml-85{ margin-left:85px;}
.ml-90{ margin-left:90px;}
.ml-100{ margin-left:100px;}
.ml-160{ margin-left:160px;}
.ml-200{ margin-left:200px;}
.ml-70b{ margin-left:50%;}







